@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* soft reset and main structure */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Quicksand", sans-serif, serif;
}

html, body{
    height: 100%;
    width: 100%;
}


/* main area */

.main-area{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

/* top half, add book section */

.add-Book{

    padding: 0 40px;
    width: 100%;
}

.add-Book h3{
    width: fit-content;
    margin: auto;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.add-Book > .fields{
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 30px;
}

input[type="text"]{
    display: block;
    font-size: 1.2rem;
    margin-top: 3px;
    border: none;
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
}

input[type="text"]:focus{
    outline: none;
}

.add-Book button{
    display: block;
    cursor: pointer;
    padding: 8px 30px;
    font-size: 0.9rem;
    margin: 10px 0;
    min-width: 163px;
}

.add-Book > div{
    width: fit-content;
    margin: auto;
}

.error{
    color: firebrick;
    margin-left: 20px;
    font-size: 1.3rem;
}